
.color-buttons {
  padding: 0.2em 0.5em;
  margin-right: 1em;
}

.color-buttons:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.underline-link {
  text-decoration: underline;
}

.questions {
  width: 95vw;
  margin: 0 auto;
  padding: 2em 0;
}

button.color-buttons.white {
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #ffffff;
}

button.color-buttons.black {
  border: 1px solid #000000;
  background-color: #000000;
  color: #000000;
}

button.color-buttons.beige {
  border: 1px solid #000000;
  background-color: rgb(240, 195, 111);
  color: rgb(240, 195, 111);
}

@media screen and (min-width: 70em) {
  .product-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .product-details {
    padding-left: 10em;
  }
  .add-buttons {
    display: flex;
  }
  .product-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    cursor: pointer;
  }
}


@media screen and (min-width: 90em) {

}
