/* Note there a few "reset" styles given in reset.css. Review those before you begin */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

:root {
  --main-bg-color: #ffffff;
  --border-color: #cacaca;
  --popup-close: #333333;
  --button-bg-color: #7f187f;
  --cart-wishlist-button-color: #7f187f;
  --fav-border: rgb(247 104 128);
  --menu-hover-color: #ca3bca;
  --star-color: rgb(250, 6, 6);
  --icon-color: #ffffff;
  --button-hover: #9b349b;
  --social-icons: #7f187f;
  font-family: 'Nunito Sans', sans-serif;
}

h1 {
  font-weight: 700;
}

.logo img {
  display: block;
  margin: 1em;
}

.page-header {
  position: relative;
}

.nav-toggle {
  position: absolute;
  right: 0;
  cursor: pointer;
}

span.material-icons-round.favorite_border::before {
  color: var(--fav-border);
  content: "favorite_border"
 }

 .total-ratings {
  font-size: 16px;
  line-height: 27px;
 }

nav.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span.material-icons-round.shopping-cart {
  color: var(--social-icons);
}

.navigation {
  position: absolute;
  right: 1em;
  top: 2em;
}

.container {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}


input[type=search] {
  border: 2px solid var(--border-color);
  border-radius: 2em;
  font-size: 1em;
  width: 100%;
  background-color: var(--main-bg-color);
  background-image: url('../img/search-bar/1x/search.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.additional-links {
  padding: 1em;
}

.footer-nav {
  display: flex;
  flex-direction: column;
 align-items: center;

}

.legal {
  display: flex;
  margin-top: 1em;
}

.legal > li {
  margin-right: 1em;
text-decoration: underline;
}

.btn-filters {
  display: flex;
  align-items: center;
  padding: 0.1em;
  width: 7em;
  height: 3em;
  text-align: right;
  font-size: 1em;
  margin-top: 1.5em;
  border: 1px solid var(--border-color);
  border-radius: 2em;
  background-color: var(--main-bg-color);
  font-weight: 700;
  justify-content: space-evenly;
}

.filters-icon {
  width: 24px;
  height: auto;
}

.pages > li a {
  text-decoration: underline;
  margin-right: 1em;
  }

select#sort {
  padding: 0.5em 1.7em 0.5em 0.7em;
  border: 1px solid var(--border-color);
  border-radius: 2em;
  width: 10em;
}

.main-button {
  display: flex;
  align-items: center;
  padding: 0.1em;
  width: 7em;
  height: 3em;
  text-align: right;
  font-size: 1em;
  margin-top: 1.5em;
  border: 1px solid var(--border-color);
  border-radius: 2em;
  background-color:  var(--main-bg-color);
  font-weight: 700;
  justify-content: space-evenly;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.overlay {
  z-index: 99;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background:  var(--main-bg-color);
  border-radius: 5px;
  width: 85%;
  position: relative;
}

.popup .close {
  position: absolute;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: var(--popup-close);
}

button[type=submit] {
  padding: 0.1em;
  width: 7em;
  height: 2em;
  text-align: center;
  font-size: 1em;
  margin-top: 1.5em;
  border: 1px solid var(--border-color);
  border-radius: 2em;
  color: var(--main-bg-color);
  background-color: var(--button-bg-color);
}

.heading {
  display: flex;
  justify-content: space-between;
}

.product {
  position: relative;
  width: 100%;
  height: auto;
  bottom: -6px;
}

.image-container {
  width: 100%;
}

.filters-large {
  display: none;
}

.icon {
  width: 24px;
  font-size: 21.5px;
}

span.icon.half {
  width: 26.5px;
  font-size: 24px;
  padding-left: 3px;
}

.ratings {
  display: flex;
  margin-left: -5px;
}

.add-cart {
  width: 10em;
  height: 2.5em;
  margin-right: 1em;
  background-color:var(--cart-wishlist-button-color);
  color: var(--main-bg-color);
}

.product-footer {
  display: flex;

}

.add-wishlist {
  width: 10.5em;
  height: 2.5em;
  background-color:var(--cart-wishlist-button-color);
  color: var(--main-bg-color);
}

.page-footer {
  margin: 0;
  background-color: rgb(212, 214, 216);
  padding: 1em;
}

.pages {
  display: inline-flex;
}

.mobile-app {
  background-color:var(--cart-wishlist-button-color);
  color:  var(--main-bg-color);
  width: 20em;
  border: none;
  margin: 1em auto;
}

.social {
  display: flex;
  justify-content: space-evenly;
}

span.material-icons-round.star-rate {
  color: var(--star-color);
}


.fab {
  text-decoration: none;
  color:var(--social-icons);
}

 span.material-icons-round.add-fav, material-icons-round.favorite_border  {
  color: var(--fav-border);
 }

.copyright, .legal li a{
  color:  var(--main-bg-color);
}

.material-icons-round {
color:var(--icon-color);
}

.menu {
  display: none;
  font-weight: 700;
}

.product-2 {
  position: absolute;
  display: none;
  -webkit-transition: opacity 5s ease-in-out;
  -moz-transition: opacity 5s ease-in-out;
  -ms-transition: opacity 5s ease-in-out;
  -o-transition: opacity 5s ease-in-out;
  transition: opacity 5s ease-in-out;
  width: 100%;
  height: auto;
  left: 0;
  bottom: 0;
}

.social > li {
  margin-right: 2em;
}

@media screen and (min-width: 70em) {

  .results-container {
    display: flex;
    justify-content: space-between;
  }


  .image-container:hover .product-2 {
    display: inline;
    object-fit: cover;
  }


  .page-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
  }
  
  span.material-icons-round.favorite_border:hover::before {
    color: var(--fav-border);
    content: "favorite"
   }

  .filters-large {
    display: block;
  }
  
  .nav-toggle {
    display: none;
  }

  input[type=search] {
    width: 136%;
    font-size: 90%;
}
  
  .navigation {
    position: unset;
  }
  
  .menu {
    display: flex;
    font-size: 1.3em;
    flex-direction: row;
    color: black;
    text-decoration: none;
  }


  .menu > li {
    padding: 1em;
  }
  
  .menu-links {
    color: var(--cart-wishlist-button-color);
    background: linear-gradient(to right, var(--menu-hover-color), var(--menu-hover-color) 50%, var(--cart-wishlist-button-color) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
  }
  
.menu-links:hover {
    background-position: 0 100%;
  }

  .container {
    margin: 1em;
  }
  
  .additional-links {
    padding-left: 5em;
    margin-top: 0.5em;
  }
  
  .page-header .material-icons-round {
    color: rgb(53, 69, 86);
    font-size: 2.5em;
    margin-top: -1em;
  }
  
  a.main-button.dialog {
    display: none;
  }
  
  .filter-options-large {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .filter-list-large {
    display: flex;
  }
  .results {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .subheading {
    grid-column: 1 / span 2;
  }
  
  .image-container {
    position: relative;
    width: 100%;
    margin-top: 1.5em;
    box-shadow: 0 2px 4px 0 rgba(173, 173, 173, 0.19), 0 2px 4px 0 rgba(173, 173, 173, 0.19);
  }
  
  .social {
    justify-content: center;
  }

  .heading {
    display: block;
  }
  details > summary:first-of-type {
    cursor: pointer;
    list-style-type: none;
  }

.main-button {
  transition: 0.25s;
}

  .main-button:hover {
    background-color: var(--button-hover);
    color:  var(--main-bg-color);
    box-shadow: inset 0 0 0 2em hsl(var(--cart-wishlist-button-color), 45deg);
  }
  
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: var(--cart-wishlist-button-color);
    font-size: 0.8em;
    padding: 0.2em 0.4em;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
  
  }
  

@media screen and (min-width: 90em) {

  .page-header {
    display: grid;
    grid-template-columns: auto 0.5fr auto;
  }
  

  input[type=search] {
    font-size: 100%;
  }


.filter-options-large {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.results {
  grid-template-columns: 1fr 1fr 1fr;
}

.subheading {
  grid-column: 1 / span 3;
}

}
