/* Note there a few "reset" styles given in reset.css. Review those before you begin */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

.logo img {
  display: block;
  margin: 1em;
}

.page-header {
  position: relative;
}

.nav-toggle {
  position: absolute;
  right: 0;
  cursor: pointer;
}

span.material-icons-round.favorite_border {
  color:rgb(247 104 128);
 }

nav.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation {
  position: absolute;
  right: 1em;
  top: 2em;
}

.container {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}


input[type=search] {
  border: 2px solid #ccc;
  border-radius: 2em;
  font-size: 1em;
  /* width: 135%; */
  background-color: white;
  background-image: url('../img/search-bar/1x/search.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.additional-links {
  padding: 1em;
}

.btn-filters {
  display: flex;
  align-items: center;
  padding: 0.1em;
  width: 7em;
  height: 3em;
  text-align: right;
  font-size: 1em;
  margin-top: 1.5em;
  border: 1px solid #cacaca;
  border-radius: 2em;
  background-color: white;
  font-weight: 700;
  justify-content: space-evenly;
}

.filters-icon {
  width: 24px;
  height: auto;
}

.pages > li a {
  text-decoration: underline;
  margin-right: 1em;
  }

select#sort {
  padding: 0.5em 1.7em 0.5em 0.7em;
  border: 1px solid #cacaca;
  border-radius: 2em;
  width: 10em;
}

.main-button {
  display: flex;
  align-items: center;
  padding: 0.1em;
  width: 7em;
  height: 3em;
  text-align: right;
  font-size: 1em;
  margin-top: 1.5em;
  border: 1px solid #cacaca;
  border-radius: 2em;
  background-color: white;
  color: #000000;
  font-weight: 700;
  justify-content: space-evenly;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 85%;
  position: relative;
}

.popup .close {
  position: absolute;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

button[type=submit] {
  padding: 0.1em;
  width: 7em;
  height: 2em;
  text-align: center;
  font-size: 1em;
  margin-top: 1.5em;
  border: 1px solid #cacaca;
  border-radius: 2em;
  color: #fff;
  background-color: rgb(124, 124, 226);
}

.heading {
  display: flex;
  justify-content: space-between;
}

.product {
  width: 100%;
  height: auto;
}

.image-container {
  width: 100%;
  background-color: rgb(182, 182, 182);
}

.filters-large {
  display: none;
}

.icon {
  width: 24px;
  height: 24px;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  display: inline-block;
}

.ratings {
  display: flex;
  margin-left: -5px;
}

.add-cart {
  width: 10em;
  height: 2.5em;
  margin-right: 1em;
  font-weight: 500;
  color: rgb(101, 148, 235);
}

.product-footer {
  display: flex;

}

.add-wishlist {
  width: 10em;
  height: 2.5em;
  font-weight: 500;
  color: rgb(101, 148, 235);
}

.page-footer {
  margin: 0;
  background-color: rgb(53, 69, 86);
  padding: 1em;
}

.pages {
  display: inline-flex;
}

.mobile-app {
  width: 20em;
  margin: 1em auto;
}

.social {
  display: flex;
  justify-content: space-evenly;
}

.fab {
  text-decoration: none;
  color:rgb(237, 216, 81);
}

 span.material-icons-round.add-fav, material-icons-round.favorite_border  {
  color: rgb(247 104 128);
 }

.copyright, .legal li a{
  color: #ffffff;
}

.material-icons-round {
color:rgb(53, 69, 86);
}

.menu {
  display: none;
}

@media screen and (min-width: 70em) {

  .page-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
  }
  
  .filters-large {
    display: block;
  }
  
  .nav-toggle {
    display: none;
  }

  input[type=search] {
    width: 130%;
    font-size: 70%;
}
  
  .navigation {
    position: unset;
  }
  
  .menu {
    display: flex;
    font-size: 1.3em;
    flex-direction: row;
    color: black;
    text-decoration: none;
  }


  .menu > li {
    padding: 1em;
  }
  
  .menu-links {
    color: rgb(101, 148, 235);
    background: linear-gradient(to right, rgb(5, 60, 119), rgb(5, 60, 119) 50%, rgb(101, 148, 235) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none; 
  }
  
.menu-links:hover {
    background-position: 0 100%;
  }

  .container {
    margin: 1em;
  }
  
  .additional-links {
    padding-left: 5em;
    margin-top: 0.5em;
  }
  
  .page-header .material-icons-round {
    color: rgb(53, 69, 86);
    font-size: 2.5em;
    margin-top: -1em;
  }
  
  a.main-button.dialog {
    display: none;
  }
  
  .filter-options-large {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .filter-list-large {
    display: flex;
  }
  .results {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .subheading {
    grid-column: 1 / span 2;
  }
  
  .image-container {
    width: 99%;
  }
  .social {
    justify-content: center;
  }
  .social > li {
    margin-right: 2em;
  }
  
  .heading {
    display: block;
  }
  details > summary:first-of-type {
    cursor: pointer;
    list-style-type: none;
  }

.main-button {
  transition: 0.25s;
}

  .main-button:hover {
    background-color: rgb(101, 148, 235);
    color: white;
    box-shadow: inset 0 0 0 2em hsl(rgb(101, 148, 235), 45deg);
  }
  
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(101, 148, 235);
    font-size: 0.8em;
    padding: 0.2em 0.4em;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: #3e8e41;}

  }
  

@media screen and (min-width: 90em) {

  .page-header {
    display: grid;
    grid-template-columns: auto 0.5fr auto;
  }
  

  input[type=search] {
    width: 200%;
    font-size: 100%;
  }


.filter-options-large {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.results {
  grid-template-columns: 1fr 1fr 1fr;
}

.subheading {
  grid-column: 1 / span 3;
}



}
